body {
	background: lightgray;
}

body main {
	height: 100vh;
	margin: auto;
}

::-webkit-scrollbar {
	height: 5px;
	width: 4px;
	background: rgb(236, 236, 236);
}
::-webkit-scrollbar-thumb {
	background: #b6b6b6;
	border-radius: 10px;
}
